
body {
  font-family: Verdana,Lucida Console, Helvetica, sans-serif;
  background: white;
}

h3,h2,h1 {
  font-family: Verdana, Helvetica, sans-serif;

}


td {
   font-size: 9pt;
   border:solid 1px #DAC0DA;
}

pre {
  font-family: Courier New;
  font-size: 9pt;
  color: #23052F;
  #font-weight: bold;
}